# Auth0 configs
AUTH0_DOMAIN=
AUTH0_API_AUDIENCE=
AUTH0_CLIENT_ID=
AUTH0_CLIENT_SECRET=
AUTH0_CONNECTION_NAME=
AUTH0_API_ID=

# DB Config
DB_NAME=
PGUSER=
PGPASSWORD=
PGHOST=
PGPORT=

REDIS_URL=

USE_CLOUDINARY=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

EMAIL_HOST: ${EMAIL_HOST}
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_PORT=
EMAIL_FROM_USER=
