{% extends 'social/base.html' %}
<!--==================-->
{% load crispy_forms_tags %}
<!--==================-->
{% block title %} Login {% endblock title %}
<!--==================-->

{% block content %}

<div class="container my-5">
  <div class="row">
    <div class="col-5 mx-auto">
      <div class="card border-2 border-top border-primary rounded-4 shadow-lg">
        <div class="card-header text-center">
          <h3>User Register</h3>
        </div>
        <div class="card-body">
          <form method="POST">
            {% csrf_token %} {{form|crispy }}

            <div class="d-grid my-2">
              <button type="submit" class="btn btn-outline-danger">
                Login
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
