{% extends 'social/base.html' %}

{% load static %}

{% block title %} Home {% endblock title %}

{% block css %}
  <link rel="stylesheet" href="{% static 'social/css/style.css' %}">
{% endblock css %}

{% block content %}

<div class="header">
</div>

  <div class="container my-5">
    <a href="{% url "user_post" %}" class="btn btn-danger">Create Post</a>
    <a href="{% url "all_post" %}" class="btn btn-primary">Show All Post</a>  
    
    <a href="{% url "all_user" %}" class="btn btn-primary">Show All User</a>

  </div>


<div class="container">

  <div class="row">

    {% for i in posts %}
    <div class="col-4 p-2">

      <div class="card">

       <h4> {{i.post}}</h4>
        <img src="/media/{{i.post_img}}" width="100%" height="250">
        <a href="{% url "profile" user.id %}">{{i.posted_by}}</a>

        {% if i.liked %}
        
        <a href="{% url "dislike_user" i.id %}" class="btn btn-danger">Liked  


          <span>
            {% if i.likedno %}
              {{i.likedno}}
            {% endif %}
          </span>
        </a>

        
        
        {% else %}
        <a href="{% url "like_user" i.id %}" class="btn btn-primary">Like</a>

        {% endif %}


        <h3>

         
        </h3>
        
        <form action="" method="POST">
        {% csrf_token %}
        {{c_form}}
        <button type="submit">Submit</button>
        </form>
        <a href="{% url "post_comment" i.id %}" class="btn btn-danger">Comment</a>
       

      </div>

    </div>
    {% endfor %}

  </div>


  <button id="indal">Click To Check</button>

<!-- === -->
{% endblock content %}


{% block js %}
<script src="{% static 'social/js/main.js' %}"></script>
{% endblock js %}